@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.miama-font{
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 100;
}

*{
    margin: 0;
    padding: 0;
}

/* share style  */
.theme-color{
    background-color: black;
    color: white;
}
.section-width{
    max-width: 80%;
    margin: 100px auto;
}
.orange-color{
    color: #E6533C;
}
.secondary-color{
    color: rgba(255, 255, 255, 50%);
}
.btn-primary{
    background-color: #E6533C;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    padding: 14px 46px;
    cursor: pointer;
}
.btn-secondary{
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: 1px solid #ffffff;
    border-radius: 42px;
    padding: 14px 46px;
    margin-left: 15px;
    cursor: pointer;
}
.section-title{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 15px;
}
.section-description{
    /* max-width: 670px;
    margin: 0 auto; */
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 50%);
    margin-bottom: 34px;
    line-height: 24px;
}

/* nav bar style  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 150px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 12px 24px 12px 4px;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.brand{
    font-weight: 800;
    font-size: 2.25rem;
}
.nav-home-btn{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.hamburger{
    display: none;
}

 /* banner section style  */
 .header{
    background: linear-gradient(180.00deg, rgb(0, 0, 0, 100%),rgba(37, 37, 37, 0.9),rgba(0, 0, 0, 100%));
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    gap: 85px;
}
.banner-content{
    max-width: 600px;
}
.banner-title{
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 75px;
}
.banner-description{
    font-size: 1rem;        
    margin: 28px 0px;
    line-height: 30px;
}
.banner-image{
    position: relative;
}
.banner-image img{
    width: 100%;
}
.banner-btn{
    display: flex;
    align-items: center;
}
.free-workout{
    position: absolute;
    top: 25%;
    right: -15%;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 12px;
    padding: 15px 23px;
}
.free-workout h2{
    font-weight: 900;
    font-size: 2.5rem;
}
.free-workout p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 65%);
}
.video-tutorial{
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 12%;
    left: -35%;
    background-color: rgba(255, 255, 255, 10%);
    border-radius: 12px;
    padding: 15px 23px;
}
.video-tutorial .play-icon{
    background-color: #E6533C;
    padding: 20px;
    border-radius: 50%;
}
.video-tutorial h3{
    font-weight: 900;
    font-size: 1.5rem;
}
.video-tutorial p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 65%);
}
/* habits section style  */
.habit-container{
    text-align: center;
}
.cart{
    display: flex;
    gap: 100px;
    margin-top: 60px;
}
.cart-item img{
    border: 4px solid #1e1e1e;
    border-radius: 50%;
}
.cart-item h3{
    font-weight: 600;
    font-size: 1.125rem;
    margin-top: 30px;
    margin-bottom: 6px;
}

/* run section style  */
.run-container{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 165px;
    padding: 40px 50px;
}
.run-content{
    max-width: 440px;
}
.run-image{
    width: 366px;
    /* padding: 30px 32px 30px 0px; */
}
.run-image img{
    max-width: 100%;
    max-height: 80%;
    border-radius: 15px;
}

 /* exercises section style */
.text-section{
    width: 55%;
}
.image-section{
    width: 100%;
}
.first-row-image, .second-row-image{
    display: flex;
    height: 200px;
}
.image1 span, .image2 span, .image3 span, .image4 span, .image5 span, .image6 span{
    font-size: 0.825rem;
    padding: 27px;
    width: calc(100% - (27px + 27px));
    height: calc(100% - (27px + 27px));
    display: flex;
}
.image1{
    background-image: url(../images/exercise1.jpg), linear-gradient(to top, #000000, #232323, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
}
.image1 span{
    background-color: rgb(6, 255, 210, 50%);
    flex-direction: column-reverse;
}
.image2{
    background-image: url(../images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 45%;
}
.image2 span{
    background-color: rgb(255, 0, 0, 30%);
}
.image3{
    background-image: url(../images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
}
.image3 span{
    background-color: rgb(0, 0, 0, 50%);
    flex-direction: column-reverse;
}
.image4{
    background-image: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40%;
}
.image4 span{
    background-color: rgb(0, 0, 0, 50%);
    flex-direction: row-reverse;
}
.image5{
    background-image: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
}
.image5 span{
    background-color: rgb(66, 255, 0, 30%);
    flex-direction: column-reverse;
}
.image6{
    background-image: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35%;
}
.image6 span{
    background-color: rgb(0, 71, 255, 30%);
    flex-direction: column-reverse;
}

/* Start Today section  */
.start-today-content p{
    font-size: 0.875rem;
}
.start-today-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.body-building-container{
    display: flex;
    align-items: center;
    gap: 30px;
    border-left: 3px solid #6b6b6b;
    padding-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.body-building-container h1{
    font-size: 3rem;
    transition: color 0.3s ease;
}
.body-building-container .body-building-content span {
    font-size: 0.825rem;
    background-color: #6b6b6b;
    padding: 2px 5px;
    transition: background-color 0.3s ease;
}
.body-building-container .body-building-content h1 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-top: 5px;
    transition: color 0.3s ease;
}
.body-building-container:hover {
    border-left: 5px solid #E6533C;
    transition: border-left 0.3s ease; 
}
.body-building-container:hover .body-building-content span {
    background-color: #E6533C;
}
.body-building-container:hover .body-building-content h1 {
    color: #E6533C;
}
.start-today-images{
    padding-right: 100px;
}
.start-today-images .image{
    transform: rotate(12deg);
}
.start-today-images .image p{
    text-align: center;
    margin-top: -20px;
}
.start-today-images .image span{
    font-weight: 700;
    font-size: 1rem;
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 30px;
}
.start-today-images img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

/* bmi calculator section style  */
.bmi-section-content{
    max-width: 670px;
    text-align: left;
    margin: auto auto;
}
.bmi-container{
    background-color: #222222;
    display: flex;
    justify-content: space-around;
}
.bmi-chart{
    max-width: 310px;
}
.bmi-chart h3{
    font-weight: 900;
    font-size: 1.75rem;
    margin: 50px 0px;
}
table{
    border-collapse: collapse;
    margin-bottom: 130px;
}
td , th{
    border: 2px solid rgb(255,255,255,10%);;
    padding: 10px 20px;text-align: left;
}
td{
    color: rgb(255,255,255,50%);
    font-size: 0.825rem;
}
.bmi-form {
    max-width: 575px;
}
.bmi-form h3{
    font-weight: 900;
    font-size: 1.75rem;
    margin-top: 50px;
    margin-bottom: 15px;
}
.Calculate-form{
    display: grid;
    gap: 12px;
    margin-bottom: 35px;
}
.input-field{
    display: flex;
    gap: 12px;
}
.input-field input,.input-field select{
    width: 50%;
    flex: 1;
}
input, select{
    background-color: rgb(255,255,255,10%);
    color: rgb(255,255,255,60%);
    font-size: 1rem;
    border: none;
    padding: 15px;
    border-radius: 8px;
}

/* our team section style  */
.our-team{
    text-align: center;
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222222;
    padding: 20px;
    border-radius: 18px;
}
.team-cart{
    text-align: start;
    position: relative;
}
.team-cart img{
    width: 100%;
    height: 300px;
    border-radius: 18px;
    filter: brightness(90%);
}
.team-cart h4{
    font-weight: 900;
    font-size: 1.25rem;
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.team-cart p{
    font-size: 0.825rem;
    color: rgba(255, 255, 255, 50%);
    position: absolute;
    bottom: 5%;
    left: 5%;
}

/* footer section style  */
.footer{
    background-color: rgba(255, 255, 255, 10%);
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 150px;
    padding: 65px ;
}
.footer-content ul{
    list-style: none;
}
.footer-content a{
    text-decoration: none;
    color: rgba(255, 255, 255, 50%);
}
.footer-content li{
    margin-top: 20px;
}
.footer-content .column-1{
    max-width: 450px;
}
.column-1 h1{
    font-weight: 800;
    font-size: 4.40rem;
}
.column-1 p{
    margin-top: 20px;
    line-height: 25px;
}
.footer .copy-right{
    padding: 0px 150px ;
}
.copy-right p{
    text-align: center;
    font-size: 1.25rem;
    padding: 25px 0px;
    color: rgba(255, 255, 255, 50%);
}



/* small device style  */
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .miama-font{
        font-size: 5rem;
    }
    .section-width{
        max-width: 90%;
        margin: 65px auto;
    }
    .nav{
        margin: 50px 20px;
    }
    .nav ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger i{
        font-size: 1.5rem;
    }
    .banner-container{
        flex-direction: column;
        margin: 0px 20px;
    }
    .banner-title{
        max-width: 285px;
        font-size: 2.25rem;
        line-height: 40px;
    }
    .btn-primary, .btn-secondary{
        padding: 12px 15px;
    }
    .free-workout{
        top: 8%;
        right: -1%;
    }
    .video-tutorial{
        bottom: 42%;
        left: 0%;
    }
    .banner-btn{
        text-align: center;
        justify-content: center;
    }
    .section-title{
        font-size: 1.875rem;
    }
    .cart{
        flex-direction: column;
        gap: 20px;
    }
    .run-container{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin: 10px;
    }
    .run-image{
        width: 280px;
    }
    .first-row-image, .second-row-image{
        height: 140px;
    }
    .text-section{
        width: 100%;
    }
    .image3, .image6{
        display: none;
    }
    .image1{
        width: 50%;
    }
    .image2{
        width: 50%;
        background-position-x: 60%;
        background-position-y: 20%;
    }
    .training-section{
        margin: 20px;
    }
    .image4{
        width: 45%;
    }
    .image5{
        width: 55%;
    }
    .team-container{
        grid-template-columns: repeat(1,1fr);
    }
    .start-today-container{
        flex-direction: column;
        gap: 50px;
    }
    .body-building-container h1{
        font-size: 2.5rem;
    }
    .body-building-container{
        border-left: 3px solid #6b6b6b;
        padding-left: 15px;
        margin: 15px 0px;
    }
    .body-building-container .body-building-content span {
        font-size: 0.6rem;
        padding: 2px 5px;
    }
    .body-building-container .body-building-content h1 {
        font-size: 1.5rem;
        margin-top: 5px;
    }
    .start-today-images{
        padding: 0;
    }
    .start-today-images img{
        height: 400px;
    }
    .bmi-section-content{
        padding: 20px;
    }
    .bmi-chart h3{
        margin: 20px 0px;
    }
    table{
        margin-bottom: 20px;
    }
    .bmi-container{
        flex-direction: column;
        padding: 20px;
    }
    .input-field{
        display: flex;
    }
    .footer-content{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 20px;
    }
    .footer .copy-right{
        padding: 0px 0px;
    }   
}